<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="<%= new_product_path %>" role="button">Add</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-sm">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Value</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          <% @products.each do |p| %>
            <tr>
              <th scope="row"><%= p.id %></th>
              <td><%= p.description %></td>
              <td><%= p.value %></td>
              <td>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3">
                    <a class="btn btn-warning" href="<%= "/products/#{p.id}/edit"%>" role="button">Edit</a>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-3">
                    <%= button_to "delete", p, :method => :delete, class: "btn btn-danger" %>
                  </div>
              </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
